* {
    font-family: "Garamond", serif;
}

body {
    margin: 20px;
    background-color: rgb(138, 228, 198); 
}

img {
    display: block;
}

h1 {
    font-size: 40px;
}

.main-heading {
    font-size: 80px;
}

a {
    font-weight: 800;
}

.ingredients {
    margin-right: 750px;
    padding: 20px;
    border: 3px black;
    background-color: grey;
}

